@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

@media (orientation: portrait){
    .section-eight-container{
        margin-top: 10px;
    }
    .experts-heading{
        color: rgb(45, 112, 45);
        font-weight: bold;
        font-family:"Roboto";
        text-align: center;
        text-decoration: underline;
    }
    .experts-cards-container{
        margin: 20px;
    }
    .each-expert-container{
        background-color: lightgoldenrodyellow;
        border-radius: 20px;
    }
    .expert-top-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile-icon-container{

    }
    .expert-profile{
        width: 100px;
        border-radius: 50px;
    }
    .expert-rating-container{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .rating-points{
        color: white;
        font-family:"Roboto";
        font-weight: bold;
        padding: 6px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: black;
        border-radius: 20px;
        margin-top: -20px;
    }
    .star-image-style{
        color: gold;
        font-size: 20px;
        margin-top: -3px;
    }
    .expert-name{
        font-family:"Roboto";
        font-weight: bold;

    }
    .expert-education{
        font-family:"Roboto";
    }
    .expert-experience{
        font-family:"Roboto";
    }
    .expert-specialist{
        font-family:"Roboto";
        background-color: lightgreen;
        padding: 10px;
        color: black;
        border-radius: 15px;

    }
    .book-session{
        background-color: rgb(45, 112, 45);
        text-align: center;
        color: white;
        font-family:"Roboto";
        padding: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .expert-icon{
        margin-top: -3px;
        margin-right: 10px;
    }
    .expert-specialist-icon{
        margin-top: -3px;
        margin-right: 10px;
    }
}



@media (orientation: landscape){
    .section-eight-container{
        margin-top: 10px;
    }
    .experts-heading{
        color: rgb(45, 112, 45);
        font-weight: bold;
        font-family:"Roboto";
        text-align: center;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .experts-cards-container{
        margin: 20px;
    }
    .each-expert-container{
        background-color: lightgoldenrodyellow;
        border-radius: 20px;
    }
    .expert-top-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile-icon-container{
    }
    .expert-profile{
        width: 100px;
        border-radius: 500px;
    }
    .expert-rating-container{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .rating-points{
        color: white;
        font-family:"Roboto";
        font-weight: bold;
        padding: 6px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: black;
        border-radius: 20px;
        margin-top: -20px;
    }
    .star-image-style{
        color: gold;
        font-size: 20px;
        margin-top: -3px;
    }
    .expert-name{
        font-family:"Roboto";
        font-weight: bold;

    }
    .expert-education{
        font-family:"Roboto";
        font-size: 23px;
    }
    .expert-experience{
        font-family:"Roboto";
        font-size: 23px;
    }
    .expert-specialist{
        font-family:"Roboto";
        background-color: lightgreen;
        padding: 10px;
        color: black;
        border-radius: 15px;
        font-size: 20px;
    }
    .book-session{
        background-color: rgb(45, 112, 45);
        text-align: center;
        color: white;
        font-family:"Roboto";
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .expert-icon{
        margin-top: -3px;
        margin-right: 10px;
    }
    .expert-specialist-icon{
        margin-top: -3px;
        margin-right: 10px;
    }
}